.wrapper{
    height:40vh;
    background-color: #FFFFFF !important;
    /* background: '#0092ff'; */
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
    margin-top: 2rem;
    position: relative;
}
.wrapper > :not(:first-child) {
    margin-top: 48px;
  }
  /* .text{
    margin-top:20px;
    font-style: initial;
  }
   */
  .word-count,.char-count,.sentence-count {
    position: relative;
    bottom: -30px; /* Adjust this value to change the distance between WORDS and word count */
    left: -40px;
    font-weight:bolder;
    font-size: 23px;
  }
 
